<div class="skillsSection">
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <ul>
                <li>JavaScript</li>
                <li>jQuery</li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <ul>
                <li>AJAX</li>
                <li>JSON</li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <ul>
                <li>WordPress</li>
                <li>Angular (2+)</li>
            </ul>
        </div>
    </div>
</div>