<div class="row">
    <div class="col-sm-4">
        <a routerLink="javierjr">javierjr-rodriguez1</a>
        <hr>
        <a routerLink="martha">martha-rodriguez1</a>
        <hr>
        <a routerLink="jose">jose-rodriguez1</a>
        <hr>
        <a routerLink="lucy">lucy-rodriguez1</a>
        <hr>
        <a routerLink="olivia">olivia-rodriguez1</a>
        <hr>
        <a routerLink="rick">rick-rodriguez1</a>
    </div>
    <div class="col-sm-8">
        <router-outlet></router-outlet>
    </div>
</div>
