/* You can add global styles to this file, and also import other style files */



.btcBlue {
    color: #6699f6;
}

.borderWhiteAll {
    border: 2px solid white !important;
}


.borderWhiteBottom {
    border-bottom: 2px solid white !important;
}